<!doctype html>
<html lang="en" ng-app>
    <head>
        <meta charset="utf-8">
        <title>Google Phone Gallery</title>
        <link rel="stylesheet" href="css/app.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <script src="lib/angular/angular.js"></script>
        <script src="js/controllers.js"></script>
    </head>
    <body ng-controller="PhoneListCtrl">

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2">
                    <!--Sidebar content-->

                    Search: <input ng-model="query">
                    Search description: <input ng-model="query.communication">
                    Sort by:
                    <select ng-model="orderProp">
                        <option value="name">Alphabetical</option>
                        <option value="age">Newest</option>
                    </select>

                </div>
                <div class="span10">
                    <!--Body content-->

                    <table class="phones" style="border: 1px solid">
                        <tr>
                            <th>Date</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Amount</th>
                            <th>Description</th>
                            <th>Category</th>
                        </tr>
                        <tr ng-repeat="movement in movements | filter:query | orderBy:orderProp">
                            <td>{{movement.date}}</td>
                            <td>{{movement.from_name}}</td>
                            <td>{{movement.to_name}}</td>
                            <td>{{movement.amount}}</td>
                            <td>{{movement.communication}}</td>
                            <td>{{movement.category}}</td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>

    </body>
</html>
